{% extends "base.html" %}
{% block title %}Помощь - Football Expert{% endblock %}
{% block content %}
<div class="help-container card">
    <h1 class="heading">Помощь</h1>
    <p class="subheading">Добро пожаловать в Football Expert — ваш надежный помощник в мире футбольных прогнозов!</p>
    <ul class="feature-olst">
        <ol><strong>Лиги</strong> - Полный список доступных футбольных лиг.</ol>
        <ol><strong>Матчи</strong> - Список всех предстоящих матчей, где вы можете узнать расписание и участников.</ol>
        <ol><strong>Предсказать</strong> - Интерактивная форма для предсказания результатов матчей.</ol>
        <ol><strong>Метрики</strong> - Отслеживание точности моделей, используемых для прогнозирования.</ol>
    </ul>
    <p>Мы стремимся предоставить вам самую актуальную информацию и лучшие инструменты для анализа футбольных матчей. Если у вас возникнут вопросы или предложения, не стесняйтесь связаться с нами.</p>
</div>
{% endblock %}
