{% extends "base.html" %}
{% block title %}Матчи - Football Expert{% endblock %}
{% block content %}
<div class="matches-header">
    <h1 class="heading">Предстоящие матчи</h1>
    <p class="subheading">Изучите предстоящие матчи и предскажите их результаты.</p>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Домашняя команда</th>
                <th>Гостевая команда</th>
                <th>Дата</th>
                <th>Время</th>
                <th>Лига</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>
                    <div class="team-icon">
                        <img src="{{ url_for('static', filename='icons/' + match.home_team + '.png') }}" alt="{{ match.home_team }}" width="30">
                    </div>
                    {{ match.home_team }}
                </td>
                <td>
                    <div class="team-icon">
                        <img src="{{ url_for('static', filename='icons/' + match.away_team + '.png') }}" alt="{{ match.away_team }}" width="30">
                    </div>
                    {{ match.away_team }}
                </td>
                <td>{{ match.date }}</td>
                <td>{{ match.time }}</td>
                <td>{{ match.league }}</td>
                <td>
                    <a href="{{ url_for('predict_match_page', home_team=match.home_team, away_team=match.away_team) }}" class="btn btn-outline">Предсказать</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
