{% extends "base.html" %}
{% block title %}Предсказание - Football Expert{% endblock %}
{% block content %}
<div class="prediction-container">
    <header class="card">
        <h1 class="heading">Результаты предсказания</h1>
        <h3 class="subheading">
            <span class="team-icon">
                <img src="{{ url_for('static', filename='icons/' + prediction.home_team + '.png') }}" alt="{{ prediction.home_team }}" width="30">
            </span>
            {{ prediction.home_team }} vs {{ prediction.away_team }}
            <span class="team-icon">
                <img src="{{ url_for('static', filename='icons/' + prediction.away_team + '.png') }}" alt="{{ prediction.away_team }}" width="30">
            </span>
        </h3>
    </header>

    <section class="match-probabilities card">
        <h4 class="subheading">Вероятности исходов:</h4>
        <ul class="list">
            <ol class="list-item">Победа {{ prediction.home_team }}: {{ "%.3f"|format(prediction.predictions.home_win * 100) }}%</ol>
            <ol class="list-item">Ничья: {{ "%.3f"|format(prediction.predictions.draw * 100) }}%</ol>
            <ol class="list-item">Победа {{ prediction.away_team }}: {{ "%.3f"|format(prediction.predictions.away_win * 100) }}%</ol>
        </ul>
    </section>

    <section class="match-outcome card">
        <h4 class="subheading">Итоговый результат:</h4>
        <p class="list-item">{{ prediction.winner }}</p>
    </section>

    <section class="probable-scores card">
        <h4 class="subheading">Наиболее вероятные счета:</h4>
        <ul class="list">
            {% for score, probability in prediction.score_probabilities.items() %}
                <ol class="list-item">{{ score }}: {{ "%.2f"|format(probability * 100) }}%</ol>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
